*{
    border:box;
}
.header{
    padding:0%;
    border-radius: 10px;
    
}

.headmenu{
    font-size: 20px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightblue;
}

.main{

    align-items: stretch;
    margin-top: 10px;
    display:grid;
    grid-template-columns: minmax(0,4fr) 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.navbar-a{
    grid-column:1;
    grid-row:1;
    padding: 20px;
    background-color: lightblue;
    border-radius: 5px;
    
}
.navbar-a img{
    width: 500px;;
    height: auto;
}

.register{
    grid-column: 2;
    grid-row: 1/3;
    border-radius: 5px;
    padding: 20px;

    background-color:lightblue;
}

.boxregister{
    border-radius: 5px; 
    border-style:hidden;
    width:auto;
    height: 25px;
}

select{
    width: 120px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
}

.navbar-b{
    padding: 15px;
    border-radius: 5px;
    background-color: lightblue;
}

.navbar-b img{
    height: auto;
    width: 500px;
}

button{
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
    height: auto;
    background-color: rgb(110, 110, 238);
    color:black;
    font-size: 20px;
    border-radius: 5px;
}
.footerregister{
    color: gray;

}

.footer{
    padding-top:10px;
    width: 100%;
    height: 50%;
    border-radius:10px;
}
